@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

:root {
  --primary-color: rgb(73, 207, 207);
  --danger-color: #dc3545;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  background-color: white;
}
/* 메인 페이지 통계 */
.statistic {
  margin-top: 10rem;
  font-family: 'Do Hyeon', sans-serif;
}

/* mbti type
  const mbtiType = [
    'ISTJ',
    'ISFJ',
    'INFJ',
    'INTJ',
    'ISTP',
    'ISFP',
    'INFP',
    'INTP',
    'ESTP',
    'ESFP',
    'ENFP',
    'ENTP',
    'ESTJ',
    'ESFJ',
    'ENFJ',
    'ENTJ'
  ];
  */

.ui.statistics .ISTJ.value {
  color: blue;
}
.ui.statistics .ISFJ.value {
  color: brown;
}
.ui.statistics .INFJ.value {
  color: green;
}
.ui.statistics .INTJ.value {
  color: grey;
}
.ui.statistics .ISTP.value {
  color: olive;
}
.ui.statistics .ISFP.value {
  color: orange;
}
.ui.statistics .INFP.value {
  color: pink;
}
.ui.statistics .INTP.value {
  color: purple;
}
.ui.statistics .ESTP.value {
  color: red;
}
.ui.statistics .ESFP.value {
  color: teal;
}
.ui.statistics .ENFP.value {
  color: violet;
}
.ui.statistics .ENTP.value {
  color: yellow;
}
.ui.statistics .ESTJ.value {
  color: black;
}
.ui.statistics .ESFJ.value {
  color: yellowgreen;
}
.ui.statistics .ENFJ.value {
  color: skyblue;
}
.ui.statistics .ENTJ.value {
  color: tomato;
}

/* 상단 고정 네비게이션*/
.navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
  list-style: none;
}
.navbar a {
  color: black;
  font-weight: bold;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar p {
  color: black;
  display: none;
}

/* 메인 컨테이너*/

.container {
  max-width: 900px;
  font-size: 12px;
  margin: auto;
  padding: 0 2rem;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

/*커뮤니티 페이지*/

.community {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  line-height: 1.3em;
  margin-bottom: 2rem;
  /* background-color: mediumspringgreen; */
}
.community tr.list {
  line-height: 260%;
}

.community td.title {
  color: black;
  font-size: 14px;
  padding: 0 10px 0 0px;
  line-height: 120%;
}
/* 태그 필터링 칼라 */
.community td.title .mbti-type {
  font-family: 'B612 Mono';
  font-weight: bold;
  color: black;
  padding: 1.5px;
  margin-right: 3px;
}
.community td.title .ISTJ {
  background-color: blue;
  color: aliceblue;
}
.community td.title .ISFJ {
  background-color: brown;
  color: aliceblue;
}
.community td.title .INFJ {
  background-color: green;
  color: aliceblue;
}
.community td.title .INTJ {
  background-color: gray;
  color: aliceblue;
}
.community td.title .ISTP {
  background-color: olive;
}
.community td.title .ISFP {
  background-color: orange;
}
.community td.title .INFP {
  background-color: pink;
}
.community td.title .INTP {
  background-color: purple;
  color: aliceblue;
}
.community td.title .ESTP {
  background-color: red;
  color: aliceblue;
}
.community td.title .ESFP {
  background-color: teal;
}
.community td.title .ENFP {
  background-color: violet;
}
.community td.title .ENTP {
  background-color: yellow;
}
.community td.title .ESTJ {
  background-color: black;
  color: aliceblue;
}
.community td.title .ESFJ {
  background-color: yellowgreen;
}
.community td.title .ENFJ {
  background-color: skyblue;
}
.community td.title .ENTJ {
  background-color: tomato;
  color: aliceblue;
}

.community td.title span.comments {
  margin-left: 3px;
}

.community td.date {
  color: #464646;
  font-size: 14px;
  padding: 0 0px 0 0px;
  word-break: keep-all;
  text-align: right;
}

.community a {
  color: black;
}
.community a:hover {
  text-decoration: underline;
  color: black;
}

/* 페이지네이션 */

.pagination-div {
  margin: 10px auto;
  display: block;
  width: fit-content;
}

.pagination-div.menu.ui {
  border: none;
  background-color: white;
}

.pagination-div.menu.ui a {
  color: var(--primary-color);
}

/* 폼 */

.signup h1 {
  text-align: center;
}

.signup .form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form textarea {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: auto;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid black;
}

.signup .form select {
  display: block;
  width: 150px;
  margin: auto;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid black;
}

.login h1,
p {
  text-align: center;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: black;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  border: 1px solid black;
}
.btn.btn-post-create {
  display: block;
  margin: 10px auto;
  font-size: 1.2rem;
}
.btn.btn-back-list {
  max-width: 100px;
  padding: 0.4rem;
  font-size: 1.2rem;
}
.btn.btn-post-delete {
  padding: 0.4rem;
  font-size: 1.2rem;
}
.btn.btn-post-rewrite {
  padding: 0.4rem;
  font-size: 1.2rem;
}

.btn.btn-comment-create {
  position: absolute;
  width: 12%;
  padding: 0.4rem;
  font-size: 1.2rem;

  min-height: 107px;
  margin-left: 5px;
}

.comment {
  position: relative;
}

.comment-text {
  font-size: 15px;
}

.comment-meta {
  color: gray;
}

.comment-meta .mbti-type {
  font-family: 'B612 Mono';
  font-weight: bold;
  color: black;
  margin-right: 3px;
  padding: 1.5px;
}

.comment-meta .mbti-type.ISTJ {
  background-color: blue;
  color: aliceblue;
}
.comment-meta .mbti-type.ISFJ {
  background-color: brown;
  color: aliceblue;
}
.comment-meta .mbti-type.INFJ {
  background-color: green;
  color: aliceblue;
}
.comment-meta .mbti-type.INTJ {
  background-color: gray;
  color: aliceblue;
}
.comment-meta .mbti-type.ISTP {
  background-color: olive;
}
.comment-meta .mbti-type.ISFP {
  background-color: orange;
}
.comment-meta .mbti-type.INFP {
  background-color: pink;
}
.comment-meta .mbti-type.INTP {
  background-color: purple;
  color: aliceblue;
}
.comment-meta .mbti-type.ESTP {
  background-color: red;
  color: aliceblue;
}
.comment-meta .mbti-type.ESFP {
  background-color: teal;
}
.comment-meta .mbti-type.ENFP {
  background-color: violet;
}
.comment-meta .mbti-type.ENTP {
  background-color: yellow;
}
.comment-meta .mbti-type.ESTJ {
  background-color: black;
  color: aliceblue;
}
.comment-meta .mbti-type.ESFJ {
  background-color: yellowgreen;
}
.comment-meta .mbti-type.ENFJ {
  background-color: skyblue;
}
.comment-meta .mbti-type.ENTJ {
  background-color: tomato;
  color: aliceblue;
}

.btn.btn-comment-remove {
  width: fit-content;
  padding: 0.5rem 0.5rem;
  font-size: 0.7rem;
  color: red;
  background-color: white;
}

.comment-update-textarea {
  position: relative;
  resize: none;
  overflow: hidden;
  border: none;
  overflow-wrap: break-word;
  display: inline-block;
  width: 85%;
  height: auto;
  font-size: 13px;
  padding: 5px;
}

.comment-update-textarea:focus {
  outline: none;
}

.comment-update-textarea:disabled {
  color: black;
}

.btn.btn-signup,
.btn.btn-login {
  display: block;
  margin: auto;
}

/*  alert */

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  color: #333;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

/* 포스트폼 */

.post-create .title:focus {
  outline: none;
}

.post-create .textarea {
  resize: none;
  overflow: hidden;
  border: 1px solid black;
  overflow-wrap: break-word;
  display: block;
  width: 100%;
  min-height: 300px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre-line;
}

.post-create .textarea:focus {
  outline: none;
}

.comment-form .textarea {
  position: relative;
  resize: none;
  overflow: hidden;
  border: 1px solid black;
  overflow-wrap: break-word;
  display: inline-block;
  width: 85%;
  min-height: 100px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-form .textarea:focus {
  outline: none;
}

.post-create .title {
  border: 1px solid black;
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  padding: 3px;
}

/*
.post-name span {
  padding: 1px;
  color: black;
  background-color: rgb(138, 231, 222);
}*/

.post-name .ISTJ {
  background-color: blue;
  color: aliceblue;
}
.post-name .ISFJ {
  background-color: brown;
  color: aliceblue;
}
.post-name .INFJ {
  background-color: green;
  color: aliceblue;
}
.post-name .INTJ {
  background-color: gray;
  color: aliceblue;
}
.post-name .ISTP {
  background-color: olive;
}
.post-name .ISFP {
  background-color: orange;
}
.post-name .INFP {
  background-color: pink;
}
.post-name .INTP {
  background-color: purple;
  color: aliceblue;
}
.post-name .ESTP {
  background-color: red;
  color: aliceblue;
}
.post-name .ESFP {
  background-color: teal;
}
.post-name .ENFP {
  background-color: violet;
}
.post-name .ENTP {
  background-color: yellow;
}
.post-name .ESTJ {
  background-color: black;
  color: aliceblue;
}
.post-name .ESFJ {
  background-color: yellowgreen;
}
.post-name .ENFJ {
  background-color: skyblue;
}
.post-name .ENTJ {
  background-color: tomato;
  color: aliceblue;
}

/* 마이페이지 */
span.contents-number {
  margin-left: 5px;
  color: red;
}

.delete-account {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.ui.segment.myInfo {
  color: black;
  font-weight: bolder;
  text-align: center;
  background-color: var(--primary-color);
}

/* 모바일 반응형*/
@media (max-width: 700px) {
  /* 네비게이션이 밑으로 쌓이게 */
  .container {
    margin-top: 12rem;
  }
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    justify-content: center;
  }
  .navbar p {
    display: block;
    text-align: center;
  }

  /* 폰트사이즈를 더 작게 */
  .community td.title {
    font-size: 12px;
  }
  .community td.date {
    font-size: 12px;
  }
}
